.container img{
    width: 100%;
    opacity: .3;
    overflow: hidden;
    animation: imageAppear .5s ease-out;
}

@keyframes imageAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .3;
    }
}

.card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    transform: translateY(-50%);
}

app-card {
    width: 60%;
    margin: 20px;
}