<ul class="nav justify-content-end">
    <li class="nav-item">
      <a 
        class="nav-link" 
        routerLink="/" 
        routerLinkActive="nav-link-active" 
        [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li class="nav-item">
      <a 
        class="nav-link" 
        routerLink="/about" 
        routerLinkActive="nav-link-active">About</a>
    </li>
    <li class="nav-item">
      <a 
        class="nav-link" 
        routerLink="/skills" 
        routerLinkActive="nav-link-active">Skills</a>
    </li>
    <li class="nav-item">
      <a 
        class="nav-link" 
        routerLink="/projects" 
        routerLinkActive="nav-link-active">Projects</a>
    </li>
    <li class="nav-item">
        <a 
          class="nav-link" 
          routerLink="/contact" 
          routerLinkActive="nav-link-active">Contact</a>
    </li>
</ul>