/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    padding: 0 24px;
    background-color: #141414;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  .page-header {
    text-align: center;
    position: absolute;
    top: 10%;
    right: 5%;
    padding: 50px 60px;
    transform: translateY(0px);
    animation: headerAppear 2s cubic-bezier(0,.56,0,.99);
}

.page-header h1, .page-header h3 {
    color: #fff;
}

@keyframes headerAppear {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


.card {
  background-color: #212121;
  color: #fff;
  box-shadow: 0px 2px 5px #ff0800;
}